.add-post {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
.add-post h2{
  text-align: center;
}
.add-post input,
.add-post textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-preview {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
}

.add-post button {
  background: linear-gradient(45deg, #E57a44, #251351);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
